.selectContainer {
    display: inline-block;
    position: relative;
}

.select {
    padding: 10px 55px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    appearance: none; /* Убираем стандартный стиль браузера */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 350px;
}

.select:hover {
    border-color: #888;
}

.select:focus {
    border-color: #838667;
    box-shadow: 0 0 5px rgba(140, 134, 35, 0.5);
}

.arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Чтобы не блокировать клики на select */
    color: #666;
}